<!doctype html>
<html lang="en">
  <head>
    <%- include ("./partials/head.ejs") %>
  </head>
  <body>






     <!-- <-----------------NAVBAR----------------------------------> 

     <%- include ("./partials/header.ejs") %>




  <!--==========================
    INSIDE ABOUT US HEADER SECTION 
============================-->
	<section class="page-image page-image-about md-padding">
		<h1 class="text-white text-center">ABOUT</h1>
	</section>

	<!--==========================
    ABOUTUS Section
============================-->


<!-- NABI FREEDOM -->
	<section id="aboutus" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">NABI FREEDOM</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-sm-12 col-lg-6">
					<img class="img-fluid" src="./images/aboutus1.jpg" alt="">
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<div class="bg-main text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<p class="mb-3 text-white">Established in 2017, NabiFreedom is an independent 501 (c)(3) non profit organization. We have pioneered innovative programs that connect dedicated volunteers with convicted felons.
									<br>
									<br>Our entrepreneurship reentry programs are proven solutions for preventing recidivism,maximizing self sufficiency and transforming broken lives.</p>

							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
    </section>
    


    <!-- MISSION -->

    <section id="aboutus" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">HOPE IS FOR EVERYONE</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="bg-main text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <p class="mb-3 text-white"> At NabiFreedom we are on a mission to transform in mates and executives by unlocking human potentia I through entrepreneurial passion, education and mentoring. We strongly believe that everyone should have a another chance to Start Fresh.
                            </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid" src="./images/aboutus2.jpg" alt="">
        </div>
    </div>
		</div>
    </section>

    
    <!-- ABOVE AND BEYOND -->

    <!-- NABI FREEDOM -->
	<section id="aboutus" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">ABOVE AND BEYOND</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-sm-12 col-md-6 col-lg-6">
					<img class="img-fluid" src="./images/aboutus3.jpg" alt="">
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<div class="bg-main text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<p class="mb-3 text-white">We are not just an organization. We go above and beyond to connect with individuals,families,communities to support inmates and executives.
									<br>
									<br> Our goal is to make a world where everyone belongs somewhere, feels beloved and belonged to the community, a place and a space you feel home!</p>

							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
    </section>
    






     <!--==========================
    Parallax Section
============================-->
<section id="statement" class="md-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1 class="text-black lead"> You Are NOT Alone</h1>
          </div>
      </div>
  </div>
    
</section>   -->


<!--==========================
    Footer  Section
============================-->

<%- include ("./partials/footer.ejs") %>

<!-- Optional JavaScript -->
<%- include ("./partials/jsdefault.ejs") %>
  </body>
</html>