<!doctype html>
<html lang="en">
  <head>
    <%- include ("./partials/head.ejs") %>
  </head>
  <body>






     <!-- <-----------------NAVBAR----------------------------------> 

     <%- include ("./partials/header.ejs") %>






    
    <!--==========================
    Admin  Section
============================-->
 <!-- Sidebar -->
 
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>


</section>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                     <span class="fa fa-cog" aria-hidden = "true"></span> Dashboard
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-list-alt" aria-hidden = "true"></span>Pages <span class="badge badge-secondary">12</span></a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-pencil" aria-hidden = "true"></span>Posts<span class="badge badge-secondary">21</span></a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-user" aria-hidden = "true"></span>Users<span class="badge badge-secondary">30</span></a>
                    
                  </div>
            </div>
            <div class="col-md-9">
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title ">Website Overview</h3>
                    </div>
                    <div class="card-body d-flex">
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-envelope" aria-hidden = "true"></span><span class="badge badge-secondary">12</span></h2>
                                <h4>New </h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-envelope-open" aria-hidden = "true"></span><span class="badge badge-secondary">30</span></h2>
                                <h4>Old </h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-pencil" aria-hidden = "true"></span><span class="badge badge-secondary">50</span></h2>
                                <h4>Post</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card dash-box">
                                <h2><span class="fa fa-bar-chart" aria-hidden = "true"></span><span class="badge badge-secondary">200</span></h2>
                                <h4>Visitors</h4>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <!-- USER LIST -->
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title "> User List</h3>
                    </div>
                    <div class="card-body"> 
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">fname</th>
                                <th scope="col">lname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>lore1</td>
                                
                                

                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td> lorem2</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>lore3</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>

                </div>
                <!-- NEW MESSAGES -->
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title ">New Messages</h3>
                    </div>
                    <div class="card-body"> 
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Email</th>
                                <th scope="col">Message</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum, aspernatur, dolor odio tempora officiis vitae similique totam, perspiciatis blanditiis ducimus doloribus quaerat aperiam nemo. A facilis reiciendis blanditiis officiis!</p></td>
                                
                                <td><a href="" class="btn main-btn btn-success">Edit</a><a href="" class="btn main-btn btn-danger">Delete</a></td>

                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum, aspernatur, dolor odio tempora officiis vitae similique totam, perspiciatis blanditiis ducimus doloribus quaerat aperiam nemo. A facilis reiciendis blanditiis officiis!</p></td>
                                
                                <td><a href="" class="btn main-btn btn-success ">Edit</a><a href="" class="btn main-btn btn-danger ">Delete</a></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum, aspernatur, dolor odio tempora officiis vitae similique totam, perspiciatis blanditiis ducimus doloribus quaerat aperiam nemo. A facilis reiciendis blanditiis officiis!</p></td>
                                
                                <td><a href="" class="btn main-btn btn-success">Edit</a><a href="" class="btn main-btn btn-danger">Delete</a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>

                </div>
                <!-- OLD MESSAGES  -->
                <div class="card ">
                    <div class="card-heading ">
                        <h3 class="card-title ">Old Messages</h3>
                    </div>
                    <div class="card-body"> 
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Email</th>
                                <th scope="col">Message</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum, aspernatur, dolor odio tempora officiis vitae similique totam, perspiciatis blanditiis ducimus doloribus quaerat aperiam nemo. A facilis reiciendis blanditiis officiis!</p></td>
                                
                                <td><a href="" class="btn btn-success">Edit</a><a href="" class="btn btn-danger">Delete</a></td>

                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum, aspernatur, dolor odio tempora officiis vitae similique totam, perspiciatis blanditiis ducimus doloribus quaerat aperiam nemo. A facilis reiciendis blanditiis officiis!</p></td>
                                
                                <td><a href="" class="btn btn-success ">Edit</a><a href="" class="btn btn-danger ">Delete</a></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum, aspernatur, dolor odio tempora officiis vitae similique totam, perspiciatis blanditiis ducimus doloribus quaerat aperiam nemo. A facilis reiciendis blanditiis officiis!</p></td>
                                
                                <td><a href="" class="btn btn-success">Edit</a><a href="" class="btn btn-danger">Delete</a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>







	








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>