<!doctype html>
<html lang="en">
  <head>
    <%- include ("./partials/head.ejs") %>
  </head>
  <body>






     <!-- <-----------------NAVBAR----------------------------------> 

     <%- include ("./partials/header.ejs") %>





<!--==========================
    INSIDE CONTACT HEADER SECTION 
============================-->	
<section class="page-image page-image-contact md-padding">
    <h1 class="text-white text-center">CONTACT</h1>
</section>
    
    <!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">
	<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Contact</h2>
					</div>
				</div>
			</div>

		<div class="row">
			<div class="col-lg-12">
				<!-- <form id="contactForm" name="sentMessage" novalidate="novalidate" action="/contact" method="POST"> -->
				<form id="contactForm" name="sentMessage" action="/contact" method="POST">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" id="name" name="contactName" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input class="form-control" id="email" name="contactEmail" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input class="form-control" id="phone" name="contactPhone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" id="message" name="contactMessage" placeholder=" Purpose For Contacting Us *" required="required" data-validation-required-message=" Purpose for contacting us"></textarea>
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success">
              <button id="sendMessageButton" class="main-btn" type="submit" value="Submit">Send Message</button>
              <!-- <input type="submit" value="Submit"> -->
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</section>







    <!--==========================
    Parallax Section
============================-->
<section id="statement" class="md-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1 class="text-black lead"> You Are NOT Alone</h1>
          </div>
      </div>
  </div>
    
</section>  


<!--==========================
    Footer  Section
============================-->

<%- include ("./partials/footer.ejs") %>

<!-- Optional JavaScript -->
<%- include ("./partials/jsdefault.ejs") %>
  </body>
</html>