<!doctype html>
<html lang="en">
  <head>
    <%- include ("./partials/head.ejs") %>
  </head>
  <body>






     <!-- <-----------------NAVBAR----------------------------------> 






     <%- include ("./partials/header.ejs") %>



<!-- <--------------------------HEADER SECTION ------------------------------------------> 

<header id="headerSection">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col my-auto">
          <h2 class="display-4 text-white">We Care About </h2>
          <h1 class="display-3">TRANSFORMING, RECONNECTING, AND BRINGING HOPE</h1>
          <h2 class="display-4 text-white">To Our Members</h2>
        </div>
      </div>
    </div>
  </div>
</header>





<!-- <------------------------------TAKE ACTION -------------------------> 

  <section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Take Action</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3">
					<div class="about">
						<i class="fa fa-podcast"></i>
						<h3>DONATION</h3>
						<p>Small or big donations always make a difference               </p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about">
						<i class="fa fa-leaf"></i>
						<h3>ATTEND EVENTS</h3>
						<p>Sign up to attend our events and get involved.                 </p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about">
						<i class="fa fa-user"></i>
						<h3>PENPAL</h3>
						<p>Inmates can enormously benefit from becoming someone's Penpal.             
            </p>
					</div>
        </div>
        <div class="col-md-3">
					<div class="about">
						<i class="fa fa-mobile"></i>
						<h3>MENTOR</h3>
						<p> Our newly rehabilitated citizens always need a mentor who will walk them through
              the first transitioning back to society.
            </p>
					</div>
				</div>
			</div>
		</div>
	</section>






    <!--==========================
    Parallax Section
============================-->
<section id="statement" class="md-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1 class="text-black lead"> You Are NOT Alone</h1>
          </div>
      </div>
  </div>
    
</section>  


<!--==========================
    Footer  Section
============================-->

<%- include ("./partials/footer.ejs") %>

<!-- Optional JavaScript -->
<%- include ("./partials/jsdefault.ejs") %>
  </body>
</html>